@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 100vw;
  }
}

.btn-shine {
  background-image: linear-gradient(to right, purple 0%, white 20%, purple 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
}
